@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<body bgcolor="black" text="white">
    <h1>
        Hello, world! 
    </h1>
    <p>
        Have a sandwich while we figure this stuff out.
    </p>
    <p>
        <img src="http://bit.ly/RhrMEn" alt="Mmm!" />
    </p>
</body>